#!/usr/bin/env python
# -*- coding: utf-8 -*-
"""
@File    :   config.py
@Time    :   2023/11/01 15:00:33
@Author  :   lvguanjun
@Desc    :   config.py
"""

# debug mode, more log
DEBUG = False

# log to stdout
STREAM_LOG = False

# copilot chat url
COPILOT_CHAT_URL = "https://api.githubcopilot.com/chat/completions"
COPILOT_CHAT_ROUTE = "/v1/chat/completions"

GITHUB_TOKEN_URL = "https://api.github.com/copilot_internal/v2/token"
